{% extends '/frame/base.twig' %}

{% block content %}
  <div class="row">
    <div class="col-2">
      <a href="/view" class="btn btn-primary text-decoration-none">Go Back</a>
    </div>
    <div class="col-12">
      <h1 class="text-center">Item ({{ ean }})</h1>
    </div>
  </div>
  <div class="row banner mt-5">
    <div class="col-6">
      <img class="img-fluid" src="https://via.placeholder.com/800x500">
    </div>
    <div class="col-6">
      <table class="table">
        <tbody>
          <tr>
            <td class="bg-primary text-white fw-bold">Item Name</td>
            <td>{{ itemName }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">EAN</td>
            <td>{{ ean }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Item Type</td>
            <td>{{ type }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Size</td>
            <td>{{ size }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Favorite</td>
            <td>{{ favorite }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Usual Price</td>
            <td>{{ usualprice }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Minimum Quantity</td>
            <td>{{ minimumQuantity }}</td>
          </tr>
          <tr>
            <td class="bg-primary text-white fw-bold">Quantity</td>
            <td>{{ quantity }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row banner mt-2">
      <div class="col-12">
        <button class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
{% endblock %}
